.map{
	position: relative;

	margin-top: 0;
	margin-bottom: 0;

	flex-shrink: 0;
	width: 90vh;
	height: 90vh;
	
	background: white;
}

.tabs, .tools{
	height: 100vh;
}

.switch-tab{
	width: 9vh;
	height: 9vh;
	
	background-color: white;
}

.tool{
	width: 9vh;
	height: 9vh;
	
	background-color: white;
}

.tab{
	width: 70vh;

	background-color: white;
}



