.window{
	margin: 0;
	
	background-color: #ccc;
}

.panel-stroke{
	display: flex;
}

.panel-column{
	display: flex;
	flex-direction: column;
}

.panel-wrap{
	display: flex;
	flex-wrap: wrap;
}

.margin-left{
	margin-left: 2vh;
}


.invis{
	display: none;
}